.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  /* background-color: #393e46; */
  /* background-image: url("images/instabg.png"); */
  background: linear-gradient(to right, #4605ff, #883bef);
}
.roll_dice {
  border-radius: 2em;
  background: #4ecca3;
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  box-shadow: 2px 2.5px #232931;
  border: 2px solid black;
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem auto;
}
h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "lobster", cursive;
}

img {
  width: 80%;
}

footer {
  font-size: 20px;
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "lobster", cursive;
}
